@import "./styles.css";

:root{
    --h-title-color:#4141c3;
}

.header {
    border-bottom: solid 2px var(--bs-blue);
}

.bg-bottom {
    background-color: var(--h-title-color);
}

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Newsreader';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #5259b4;
}
a:hover {
    color: #217ee7;
    text-decoration: underline;
}
h1 {
    font-size: 1.2em;
    font-family:'Newsreader';
}
p {
    font-size: 1.2em;
    /* line-height: 1.4em; */
    color: #333;
}
footer {
    border-top: 1px solid #363844;
    background-color: #9a9fc9;
    padding: 50px;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.em;
}

ul.posts li {
    list-style: none;
}

.images
{
display: inline;
margin: 0px;
padding: 0px;
}

#content
{
display: block;
margin: 0px;
padding: 0px;
position: absolute;
top: 90px;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;
white-space:nowrap;
}
