.slideshow-container {
    position: relative;
    width: 50%;
    height: 100px;
  }.slide {
    position: absolute;
    width: 50%;
    height: 50%;
    display: none;
  }.slide:first-child {
    display: block;
  }.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(15, 14, 14);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }